/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Montserrat:ital,wght@1,300&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400;500&family=Syne:wght@700&family=Tenor+Sans&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser*/
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: poppins;
}
/*Header*/
header {
    background-color: rgb(247, 229, 206);
}
/*Main*/
main {
    background-color: rgb(229, 230, 231);
    /* Make main element take up any space to push footer down*/
    flex:1 0 auto;
}
/*Footer*/
footer {
    background-color: rgba(95, 92, 92, 0.541);
}