/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&family=Montserrat+Alternates:wght@300;800&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser*/
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: 'Hind Guntur', sans-serif;
}
/*Header*/
header {
    background-color: rgb(247, 229, 206);
    padding: 0 3rem;
    position:fixed;
    z-index: 98;
    width: 100%;
}
header a{
    text-decoration: none;
    color:inherit;
}
h1{
    font-family: 'Montserrat Alternates', sans-serif;
}
ul {
    list-style: none;
}
/*Main*/
main {
    background-color: rgb(229, 230, 231);
    /* Make main element take up any space to push footer down*/
    flex:1 0 auto;
}
/*Footer*/
footer {
    background-color: rgba(95, 92, 92, 0.541);
}