/* Asterisk wildcard selector to override default styles added by the browser*/
*{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
}
/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:black;
    font-family: 'Montserrat Alternates', sans-serif
}
/*Header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.4rem;
    background-color: #fff1dc;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 98;
}
h1{
    font-family:'Hind Guntur', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 8px;
    letter-spacing: 2px;
}
.navbar>li{
    list-style-type: none;
    margin-bottom: 1em;
} 
.navbar a{
    position: relative;
    text-decoration: none;
    font-size: large;
    color: black;
    font-size: 16px;
    margin-left: 20px;
}
.navbar .active{
    border-bottom: 1px solid#698aab;
}
/* Nav bar styles wit Menu icon*/
nav{
    position: absolute;
    background-color: #fff1dc;
    width: 100%;
    top: 100%;
    left: 0;
    cursor: pointer;
    text-align: center;
    display: none;
}
/* Nav toggle */
#nav-toggle:checked~nav{
    display: block;
}
#nav-toggle{
    display:none;
}
.nav-toggle-label{
    font-size: 1rem;
    cursor: pointer;
}
/*Main*/
main {
    /* Make main element take up any space to push footer down*/
    flex:1 0 auto;
    margin-top: 68px;
}
/*Hero section*/
#hero{
    height: 600px;
    width: 100%;
    background: url("../images/hero.webp") no-repeat center center/cover;
}
#hero-text{
    font-family:'Hind Guntur', sans-serif;
    text-align: center;
    font-size: 84%;
    background-color: rgb(250, 250, 250, .6);
    position: relative;
    top:260px;
    left: 1rem;
    width: 88%;
    padding: 1.6rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
/*Main content*/
.left img{
    width: 90vw;
    margin: 3%;
    display: inline;
    padding-left: 0.6rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.left-title{
    padding-top: 10px;
    text-align: center;
    font-size: x-large;
}
.left p{
    padding:10px 20px;
    display: block;
    padding-right: 0.7rem;
}
.right img{
    width: 90vw;
    margin: 3% 4%;
    padding-left: 0.6rem;
    display: inline;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    clear: both;
}
.right-text{
    font-family:'Hind Guntur', sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
    display: block;
    clear: left;
    word-spacing: 4px;
}
.right li{
    font-family:'Hind Guntur', sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
    letter-spacing: 2px;
}
.our-gallery h4{
    text-align: center;
    padding: 2rem;
    clear: both;
}
.container{
    display: flex;
    clear: both;
}
.column{
    width: 25vw;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
/*<--------------------------------------------------------------ABOUT US PAGE--------->*/
#about-us{
    height: 600px;
    width: 100%;
    background: url("../images/about_us.webp") no-repeat center center/cover;
}
.about{
    padding: 1rem;
}
.about img{
    width: 90vw;
    margin: 2%;
    padding-right: 0.7rem;
    display: inline;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.about-us-text h3{
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.about-us-text{
    padding: 2rem 1rem;
}
/* <----------------------------------------------GALLERY PAGE ----------------------------------> */
#gallery-hero{
    height: 600px;
    width: 100%;
    background: url("../images/gallery_hero.webp") no-repeat center center/cover;
}
#gallery{
    padding: 0 1.2rem;
}
.hidden-heading{
    visibility: hidden;
}
.gallery{
    flex-direction: column;
}
.gallery .image img{
    width: 100%;
    margin: 0.7rem 0.2rem;
    box-shadow: 2px 2px 7px #384e6a;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.image{
    padding: 0.7rem;
}
.image img{
   width: 100%;
   padding: 0.8rem;
}
/*<-----------------------------------------------------------Contact page------------------------------------------------------------------------------->*/
#form-background{
    width: 100%;
    height: auto;
    background: url("../images/form_background.webp") no-repeat center center/cover;
    background-size: cover;
    background-position: 60%;
    padding: 10%;
}
#form-background h2{
    font-size: xx-large;
    text-align: center;
    padding: 2rem;
    flex-grow: 1;
}
#contact-form{
    max-width: 100vw;
    height: auto;
    color: black;
    text-transform: uppercase;
    background-color: rgb(56, 78, 106, 0.4);
    padding: 3rem;
    font-size: large;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#contact-form h3{
    text-align: center;
}
/* code taken and modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form*/
input[type=text], input[type=tel], input[type=email], select, textarea{
    max-width: 100%;
    width:560px;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: 1px solid #384e6a;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
input[type=submit]{
    color: #dedede;
    background-color: #384e6a;
    padding: 0.7rem;
    cursor: pointer;
    border: solid #384e6a;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#times{
    padding: 1rem;
}
#times-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}
#times-container >div{
    padding-top: 1rem;
}
/*Footer*/
footer {
    background-color: #384e6a;
}
footer p{
    text-align: center;
    color: #dedede;
    font-size: x-small;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
}
#social-networks{
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i{
    font-size: 150%;
    color: #dedede;
}
/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px){
    .gallery{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
        column-count: 2;
    }
    #contact-form{
        max-width: 760px;
    }
    #times-container{
        flex-direction: row;
    }
    input[type=text], input[type=tel], input[type=email], select, textarea{
    width:560px;
    }
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){
    #hero-text{
        font-family:'Hind Guntur', sans-serif;
        text-align: center;
        font-size: 84%;
        background-color: rgb(250, 250, 250, .6);
        position: relative;
        /* bottom:328px; */
        top: 200px;
        left: 1rem;
        width: 88%;
        padding: 1.6rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
    /*Header*/
    h1{
        font-size: 28px;
    }
    nav{
        display: block;
        position: relative;
        width: auto;
        padding-right: 1rem;
    }
    .navbar{
        display: flex;
    }
    .navbar li{
        padding-right: 4px;
    }
    .navbar a{
        font-size: 20px;
    }
    .nav-toggle-label{
        visibility: hidden;
        display: none;
    }
    /* code for underline effect taken and modified from https://www.youtube.com/watch?v=AkK8yHC4TlI&t=358s*/
  #hero-text{
        left: 44px;
    }
    /* main text home page*/
    .left-title{
        font-size: 28px;
        padding-top: 4rem;
    }
    .left p{
        font-size: 24px;
        text-align: center;
    }
    .left img{
        float: left;
        width: 32vw;
    }
    .right img{
        float: right;
        width: 32vw;
    }
    .right-text{
        font-size: 28px;
        padding-top: 2rem;
    }
    .right li{
        font-size: 26px;
    }
    .column{
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    } 
      /*<--------------------------- ABOUT US PAGE----------------->*/
    .about img{
        width: 30vw;
        float: left;
    }
    /* <-------------------------------------GALLERY PAGE-------------------> */
    .gallery{
        column-count: 2;
    }
/*<---------------------------------------contact us---------------------------->*/
    #form-background{
        background-position: center;
        position: relative;
    }
    #form-background h2{
        font-size: 28px;
    }
   #contact-form{
        max-width: 700px;
        font-size: 24px;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        margin-right: 1.6rem;
    }
    input[type=text], input[type=tel], input[type=email], select, textarea{
    width:760px;
    font-size: 22px;
    }
    input[type=submit]{
        font-size: 22px;
    }
    input[type=submit]:hover {
        color: #384e6a;
        background-color: #dedede;
        transform: scale(1.2);
    }
}
/*Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 36px;
    }
    h4{
        font-size: 34px;
    }
    p{
        font-size: 32px;
    }
    #hero-text{
       /*top: 200px;*/
        left: 80px;
    }
    .navbar li:hover{
        transform: scale(1.2);
    }
    .navbar a{
        font-size: 34px;
    }
    .navbar a::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #a8e265;
        transition: .6s;
    }
    .navbar a:hover::before{
        width: 100%;
        background-color: #cd7c0c;
    }
    .left-title{
        font-size: 40px;
        padding-top: 6rem;
        padding-bottom:3rem;
    }
    .right-text{
        font-size: 40px;
        padding-top: 4rem;
    }
    .right li{
        font-size: 36px;
    }
    .column{
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem
    }
    /* <---------------------------------------------GALLERY PAGE------------------->*/
    .gallery{
    column-count: 3;
    }
    .gallery .image img{
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        transition: all 0.3s ease; /* code taken from https://www.youtube.com/watch?v=rz_8NDyC6Xk&t=1177s */
    }
    .gallery .image:hover img{
        transform: scale(1.1);/* code taken from https://www.youtube.com/watch?v=rz_8NDyC6Xk&t=1177s */
    }
    .image{
        width: 100%;
    }
/*<----------------------------------------------------CONTACT US PAGE--------------------------->*/
#form-background h2{
    font-size: 38px;
}
    #contact-form{
        width: 980px;
        margin-left: 4rem;
    }
    input[type=text], input[type=tel], input[type=email], select, textarea{
   width: 980px;
    } 
    input[type=submit]:hover {
        color: #384e6a;
        background-color: #dedede;
        transform: scale(1.2);
    }
    .table-format td{
        font-size: 24px;
    }
    .table-times{
        font-size: 28px;
        font-weight: bolder;
    }
    .contact-details{
        font-size: 28px;
    }
    #social-networks i{
        font-size: 250%;
        padding-top: 1.5rem;
    }
    footer p{
        font-size: larger;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
    footer p{
        font-size: small;
    }
    .instagram:hover{
        transform: scale(1.5);
    }
    .facebook:hover{
        transform: scale(1.5);
    }
    .houzz:hover{
        transform: scale(1.5);
    }
    .pinterest:hover{
        transform: scale(1.5);
    }
}
@media screen and (min-width: 1200px){
    #hero-text{
        top: 300px;
    }
    .gallery{
        column-count: 4;
        }
    #form-background h2{
        text-align: left;
        padding-left: 8rem;
    }
    #contact-form{
        width:900px;
    }
    input[type=text], input[type=tel], input[type=email], select, textarea{
    width:900px;
    }
    .left-title{
        padding-top: 10rem;
    }
    input[type=text], input[type=tel], input[type=email], select, textarea{
        width:800px;
    }
}